.location-revenue {
  padding: 18px;
  background-color: var(--orders-card-bg-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  margin-left: 16px;
}

.location-revenue .location-revenue-title {
  font-weight: 600;
}

.location-revenue .location-revenue-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
