.orders {
  padding: 28px;
}

.orders .status {
  display: flex;
  align-items: center;
  gap: 4px;
}

.orders .status-in-progress {
  color: rgba(138, 140, 217, 1);
}

.orders .bullet {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.orders .bullet-in-progress {
  background-color: rgba(138, 140, 217, 1);
}

.orders .status-complete {
  color: rgba(74, 167, 133, 1);
}

.orders .bullet-complete {
  background-color: rgba(74, 167, 133, 1);
}

.orders .status-pending {
  color: rgba(89, 168, 212, 1);
}

.orders .bullet-pending {
  background-color: rgba(89, 168, 212, 1);
}

.orders .status-approved {
  color: rgba(255, 197, 85, 1);
}

.orders .bullet-approved {
  background-color: rgba(255, 197, 85, 1);
}

.orders .status-rejected {
  color: var(--list-item-description-text-color);
}

.orders .bullet-rejected {
  background-color: var(--list-item-description-text-color);
}
